body {
    font-family: "Times New Roman", serif;
    margin: 50px;
    line-height: 1.7;
    color: #1f1f1f;
    background-color: #ffffff;
}

header {
    border-bottom: 2px solid #444;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 5px;
    font-size: 32px;
}

.subtitle {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact {
    font-size: 15px;
}

h2 {
    font-size: 22px;
    margin-top: 35px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

ul {
    margin-left: 25px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #555;
}
